@font-face {
    font-family: 悪霊退散悪霊退散;
    src: url(SoukouMincho.ttf);
}
@font-face {
    font-family: 悪霊;
    src: url(851letrogo_007.ttf);
}



.s{
    background-color: rgb(0, 113, 24);
    color: white;
}
.sentence {
    position: absolute;
    top: 10%; 
    left: 1%; 
    background-color: rgb(60, 54, 54);
    color: white;
  }
  .image-wrappe{
    width: auto;
  }
 .image-wrapper img{
    width: 100%;
 }
.ssss{
    font-family: "悪霊退散悪霊退散";
    font-size: 200%;
    }
    
.a{
    background-color: rgb(185, 236, 254);
}
.aa ,td ,th {
    border-bottom: 3px solid rgb(137, 127, 127);
}
.aa {
    border-collapse: collapse;
}
.aaa{
    font-family: 悪霊退散悪霊退散;
}